# Python
__pycache__/
*.pyc

# Virtual Environment
4a1/
venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
logs/

# Output
output/

# Environment
.env
storage/test_real_output/
storage/output/
__pycache__/
*.pyc
